main {
    min-height: 77vh;
}

a {
    text-decoration: none !important;
}

.rating span {
    margin: 0.1rem;
}

h1 {
    font-size: 1.4rem !important;
    padding: 1rem !important;
    font-weight: 600 !important;
}

h2 {
    font-size: 1.2rem !important;
    padding: 0.5rem !important;
}

.search {
    margin-left: 4em;
    display: flex;
}

.product-img {
    min-width: 30em;
    margin-bottom: 1em;
}

.card-img {
    min-height: 13em;
}

.myorders {
    margin-top: 0.5rem;
}

/* carousel */
.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h3 {
    color: #fff;
}
.carousel img {
    height: 330px;
    padding: 20px;
    margin: 40px;
    border-radius: 50%;
}

.carousel a {
    margin: 0 auto;
}

/* Responsiveness */
@media only screen and (max-width: 480px) {
    .search {
        width: 11em;
        margin-left: 1em;
    }
    .carousel-title {
        font-size: 1rem;
    }
    .carousel img {
        height: 250px;
        padding: 20px;
        margin-bottom: 10px !important;
    }
    h1 {
        font-size: 1.2rem !important;
        padding-top: 1.2rem !important;
    }
    .card-img {
        height: 14em !important;
    }
    .product-img {
        min-width: 5em !important;
        margin-bottom: 1em;
    }
    .reviews {
        margin: 1.5em 0 1em 0 !important;
    }
    .myorders {
        margin: 1.5em 0 1em 0 !important;
    }

    .footer-text {
        font-size: 12px;
    }
}
